.landing-hero-content {
  position: absolute;
  left: 5px;
  top: 5px;
  color: #EFEFEF;
  border: 1.6rem solid #EFEFEF;
  background-image: url('../../resources/theband_hero.png');
  background-position-y: -110px;
  background-position-x: center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 98%;
  max-width: 1000px;
  height: 500px;
}

.landing-hero-title {
  margin: 0;
  position: absolute;
  top: 22px;
  left: 1rem;
  text-align: left;
  text-shadow: 1px 1px 1px #666;
}

.landing-hero-pitch {
  position: absolute;
  bottom: 8px;
  right: 1.1rem;
  text-align: right;
}
