.landing-hero-content {
  margin: 5px 12px;
  color: #EFEFEF;
  border: 1.6rem solid #EFEFEF;
  background-image: url('../../resources/theband_hero.png');
  background-position-y: -110px;
  background-position-x: center;
  background-size: auto;
  background-repeat: no-repeat;
  max-width: 1000px;
  height: 500px;
}

.landing-hero-title {
  margin: 0;
  font-size: 3rem;
  text-align: left;
  text-shadow: 1px 1px 1px #CCC;
  letter-spacing: 3px;
}

.landing-hero-pitch {
  margin-top: 350px;
  margin-right: 20px;
  text-align: right;
}
