header.landing-header.row
  .col-3.start-xs
    .landing-header-logo-link.box
      a(href='http://github.com')
        img.landing-header-logo-image(src=relativePath +'resources/logo.jpg', alt='Logo')
      h3.landing-header-title.box= site.title

  .col-xs-5.landing-header-content
    include header-menu.pug
