section.landing-hero-section.row.center-xs
  .landing-content.col-xs
    .box
      h1.landing-heading--primary.landing-hero-title= sectionName
      h2.landing-text--large.landing-hero-pitch= sectionIntro
