section.landing-hero.row.center-xs
  .landing-hero-content.col-xs
    .box
      h1.landing-hero-title= site.presentationName
      each pitchContent in site.pitch
        p.landing-hero-pitch= pitchContent
