.landing-body {
  background-color: #7f7f7f;
}

.landing-main-container {
  margin-top: 2rem;
}

.landing-main-container img {
  border: 3rem solid #b5b5b5;
}

.u-clearfix {
  *zoom: 1;
}

.u-clearfix:before .u-clearfix:after {
  content: " ";
  display: table;
}

.u-clearfix:after {
  clear: both;
}
