extends default-layout

block header
  //- nada

block append vars
  - var navKey = 'home'

block content
  .landing-main-content.row
    .landing-components.col-xs-12.center-xs
      article.landing-component.landing-main-container.box
