extends default-layout

block append vars
  - var navKey = 'home'

block content
  .landing-main-content.row
    .landing-components.col-xs-12.center-xs
      article.landing-component.box
        h2.landing-heading--secondary.
          TODO: have actual content
